html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
 body {
    background-color: #fff;
}
header {
    position: absolute;
    width: 100%;
    background-color: initial;
    z-index: 3;   
}

/* Header */

.home_header {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.header-content {
    position: absolute;
    width: 100%;
    text-align: center;
    color: initial;
    min-height: unset;
}


.dlc_head_img {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

.dlc_title {
    color: #FFFFFF;
    position: absolute;
    font-weight: lighter;
    top: 36%;
    left: 21%;
  
}

.dlc_title1 {
    font-family: 'Spectral', serif;
    font-size: 3.9rem;
    margin-bottom: -7%;
}

.dlc_title2 {
    font-family: Montserrat;
    letter-spacing: 4.8px;
    font-size: 3.2rem;
    margin-left: 4px;
}

.dlc_scroll {
    position: absolute;
    color: #fff;
    opacity: 0.8;
    bottom: 15%;
    left: 10%;
}

.scroll_btn {
    position: absolute;
    bottom: 15%;
    right: 10%;
    height: 10vh;
    width: 5vw;
    border: 1px solid #fff;
    color: #fff;
    background: transparent;
    border-radius: 50%;
}

/* section 1 */

.section1_dlc {
    font-family: 'Spectral', serif;
    font-size: 1.9rem;
    position: relative;
    text-align: center;
    left: 8%;
    top: 18%;
    opacity: 1;
    width: 80%;
    height: 65vh;
    color: #111;
    letter-spacing: 1.5px;
    transform: translate(0px, 0px);
}

/* section 2 */

.section2_dlc {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10%;
    height: 135vh;
}

.left_sec1 {
    position: relative;
    left: 15%;
    top: 18%;
    width: 66%;
}

.h_dlc {
    font-family: 'Spectral', serif;
    font-size: 2rem;
    font-weight: lighter;
}

.p_dlc {
    font-family: Montserrat;
    color: rgb(121, 117, 117);
    font-size: 0.8rem;
    line-height: 1.8rem;
}

.dlc_img1 {
    width: 38vw;
    height: 82vh;    
    width: 40vw;
    position: relative;
    top: 10%;
    height: 105vh;
}

/* section 3 */

.section3_dlc {
    height: 100vh;
    width: 100vw;
}

.dlc_img2 {
    position: relative;
    left: 3.5%;
    height: 100vh;
    width: 92.5vw;
}

/* section 4 */

.section4_dlc{
    display: flex;
    width: 100vw;
    height: 44vh;
    background-color: #fff;
    color: #000;
}

.dlc {
    font-family: 'Spectral', serif;
    font-size: 2.2rem;
    position: relative;
    top: 45%;
    left: 10%;
}

.left-arrow,.right-arrow{
    margin-left: 20px;
    height:70%;
    width: 8%;
    cursor: pointer;
}
.arrows{
    display: flex;
    margin-top: 8rem;
    margin-left: 15rem;
    justify-content: flex-end;
   
}


.arrows :hover {
    border: 4px solid #fff;
}







/* section 5 */

.section5_dlc{
    height: 100vh;
    width: 100vw;
    position: relative;
}

.img_track{
    display: flex;
    width: fit-content;
    background: #fff;
    animation: scroll 25s linear infinite;
}

.track{
    display: flex;
    align-items: center;
    padding-right: 14px;
    position: relative;
}

.track_main{
    position: absolute;
    top: 50%;
    left: 8%;
    color: #fff;
    font-family: 'Spectral', serif;
    font-weight: lighter;
    font-size: 0.9rem;
}
.track_sub{
    color: #fff;
    font-family: Montserrat;
    opacity: 0.8;
    font-size: 0.8rem;
    width: 22vw;
    line-height: 1.2rem;
}

.track img{
    height: 82vh;
    width: 30vw;
    filter: brightness(70%);
}

@keyframes scroll {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250px * 10));
    }
}

/* section 6 */

.section6_dlc {
    width: 100vw;
    height: 100vh;
}

.dlc_img3 {
    width: 100vw;
    height: 100vh;
}

/* section 7 */

.section7_dlc {
    height: 175vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 6rem;
}

.dlc_img4 {
    height: 100vh;
    width: 35vw;
    position: relative;
    top: 14%;
    left: 24%;
}

.h1_dlc {
    position: relative;
    top: 20%;
    font-family: 'Spectral', serif;
    font-weight: lighter;
    font-size: 2.2rem;
}

.p1_dlc {
    position: relative;
    top: 20%;
    width: 62.5%;
    font-family: Montserrat;
    font-size: 0.8rem;
    color: rgb(75, 73, 73);
    opacity: 20;
    line-height: 1.7rem;
}

.dlc_img5 {
    position: relative;
    top: 30%;
    height: 50vh;
    width: 34vw;
}

/* section 8 */

.section8_dlc {
    height: 100vh;
    width: 100vw;
}

.dlc_img6 {
    height: 100vh;
    width: 100vw;
}

/* section 9 */
.section9_dlc {
    height: 175vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 6rem;
}

.h2_dlc {
    position: relative;
    top: 18%;
    left: 26%;
    font-family: 'Spectral', serif;
    font-weight: lighter;
    font-size: 2.2rem;
}

.p2_dlc {
    position: relative;
    top: 17%;
    left: 26%;
    width: 62.5%;
    font-family: Montserrat;
    font-size: 0.8rem;
    color: rgb(75, 73, 73);
    opacity: 20;
    line-height: 1.8rem;
}

.dlc_img7 {
    position: relative;
    top: 28%;
    left: 16%;
    height: 50vh;
    width: 34vw;
}

.dlc_img8 {
    height: 100vh;
    width: 35vw;
    position: relative;
    top: 14%;
}

/* section 10 */
.section10_dlc {
    height: 80vh;
    width: 100vh;
}

.section10_dlc a {
    text-decoration: none;
    color: #fff;
}

.dlc_img9 {
    height: 80vh;
    width: 250vh;
    filter: brightness(65%);
}

.h3_dlc {
    position: relative;
    bottom: 75%;
    left: 95%;
    font-size: 2.7rem;
    letter-spacing: 0.3rem;
    font-weight: lighter;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn {
    position: relative;
    bottom: 69%;
    left: 105%;
    border: 1px solid rgb(204, 198, 198);
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    padding: 20px 50px;
}