/* Header Video Home & Experiences */


html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-x:  hidden;
}

.header-video{
    position: relative;
    margin: 0%;
    padding: 0%;
  
}


.hvideo{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;


}
.header-text{
    position: absolute;
    z-index: 4;
    margin-left: 25%;
    margin-top: 32vh;
    font-size: 6rem;
    color: #fff;
    font-family: 'Benne', serif;
}

.header1-text{
    position: absolute;
    z-index: 4;
    margin-left: 25%;
    margin-top: 42vh;
    font-size: 6rem;
    color: #fff;
    font-family: 'Benne', serif;
}


/* Header About DLC and Press */




body {
    background-color: #fff;
}

header{
    display: block;
    position: absolute;
    width: 100%;
    background-color: initial;
    z-index: 3;
}

/* Header */


.header-content {
    position: absolute;
    width: 100%;
    text-align: center;
    color: initial;
  
}


.dlc_head_img {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

.dlc_title {
    color: #FFFFFF;
    position: absolute;
    font-weight: lighter;
    top: 36%;
    left: 21%;
  
}

.dlc_title1 {
    font-family: 'Spectral', serif;
    font-size: 3.9rem;
    margin-bottom: -7%;
}

.dlc_title2 {
    font-family: Montserrat;
    letter-spacing: 4.8px;
    font-size: 3.2rem;
    margin-left: 4px;
}

.dlc_scroll {
    position: absolute;
    color: #fff;
    opacity: 0.8;
    bottom: 15%;
    left: 10%;
}

.scroll_btn {
    position: absolute;
    bottom: 15%;
    right: 10%;
    height: 10vh;
    width: 5vw;
    border: 1px solid #fff;
    color: #fff;
    background: transparent;
    border-radius: 50%;
}







/* Section-2 About DLC & Experiences */

.section2_dlc {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1%;
    height: 135vh;
}

.left_sec1 {
    position: relative;
    left: 15%;
    top: 18%;
    width: 66%;
}

.h_dlc {
    font-family: 'Spectral', serif;
    font-size: 2rem;
    font-weight: lighter;
}

.p_dlc {
    font-family: Montserrat;
    color: rgb(121, 117, 117);
    font-size: 0.8rem;
    line-height: 1.8rem;
}

.dlc_img1 {
   
    height: 105vh;    
    width: 40vw;
    position: relative;
    top: 10%;
  
}




/* section 10  About DLC & Experiences*/
.section10_dlc {
    height: 80vh;
    width: 90vw;
}

.section10_dlc a {
    text-decoration: none;
    color: #fff;
}

.dlc_img9 {
    height: 80vh;
    width: 250vh;
    filter: brightness(65%);
}

.h3_dlc {
    position: relative;
    bottom: 75%;
    left: 45%;
    font-size: 2.7rem;
    letter-spacing: 0.3rem;
    font-weight: lighter;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn {
    position: relative;
    bottom: 69%;
    left: 48%;
    border: 1px solid rgb(204, 198, 198);
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    padding: 20px 50px;
}


/* Common Media Queries */

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .hvideo{
        height: 100%;
        width: 1150px;
     
    }

    .header-text,.header1-text{
        font-size: 4rem;
    }

    .header1-text{
        margin-top: 39vh;
    }

    .section10_dlc {
        margin-top: 20%;
        position: relative;
        height: 40vh;
    }
    .dlc_img9 {
       
        height: 40vh;
       
    }
    .h3_dlc {
        position: relative;
        margin-left: -3rem;
    }
    .btn {
        margin-left: -1rem;
    }

    
    
}




@media screen and (min-width: 360px) and (max-width: 640px) {

    .hvideo{
        height: 100vh;
        width: 1260px;
    }

    .header-text,.header1-text{
        font-size: 2.5rem;
    }

    .header1-text{
        margin-top: 38vh;
    }

    .dlc_img9{
        width:100vw;
        height:30vh;
    }

    .section10_dlc{
        height: 30vh;
    }
   
    
    .h3_dlc {
        position: relative;
        margin-left: -3rem;
        font-size: 1.5rem;
    }
    .btn {
        margin-left: -3rem;
    }

    

}

/* Common Media Queries For DLC & PRESS */


@media screen and (min-width: 768px) and (max-width: 1024px)  {
    .dlc_head {
        height: 50%;
    }
    .dlc_head_img {
        height: 50vh;
    } 
    .dlc_title {
        top: 19%;
    }   
    .dlc_title1 {
        font-size: 2.8rem;
    }    
    .dlc_title2 {
        font-size: 2.5rem;
    }     
    .dlc_scroll {
        display: none;
    }
    .scroll_btn {
        top: 60%;
        right: 55%;
        height: 5vh;
        width: 8vw;
    }

   
}



@media screen and (min-width: 360px) and (max-width: 640px) {
    /* header */
 
  
   .dlc_head {
        height: 100vh;
    }
    .dlc_head_img {
        height: 100vh;
    } 
    .dlc_title {
        top: 43%;
        left: 9%;
    } 
    .dlc_title1 {
        font-size: 2.5rem;
        letter-spacing: -0.1rem;
    }   
    .dlc_title2 {
        font-size: 1.8rem;
        letter-spacing: 0.2rem;
    }         
    .dlc_scroll {
        display: none;
    }
    .scroll_btn {
        top: 79%;
        right: 45%;
        height: 11vh;
        width: 21vw;
    }
}
