html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0px auto;
    padding: 0;
    height: 100%;
    width: 100%;
}
  /* header */

header {
    background-color: rgb(24, 23, 23);
    padding: 45px 45px;
}

.container {
    display: inline-block;
    cursor: pointer;
}

.logo-container {
    font-size: 0;
}

.logo-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
}

.logo{
    margin: 15px;
    padding: 0px 12px;
    padding-left: 6.5rem;
    padding-top: 3px;
    height: 40px;
    width: 12rem;
    filter: invert(100%) sepia(0%) saturate(0%) brightness(200%) contrast(100%);

}


.logo-text {
    margin-left: -3rem;
    font-size: 24px;
    color: #fff;
}

.logo-company {
    color: #fff;
    font-size: 8px;
    letter-spacing: 2px;
    align-items: right;
}

.bar1 {
    width: 21px;
    height: 2px;
    background-color: #fff;
    margin: 22px 4px 0;
}
.bar2 {
    width: 21px;
    height: 2px;
    background-color: #fff;
    margin: 4px 0;
}
.bar3 {
    width: 16px;
    height: 2px;
    background-color: #fff;
    margin: 4px 0;
    transform: rotate(180deg);
}


.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
}


.nav-content {
    width: 100%;
    margin-left: 10%;
}

ol,ul {
	list-style: none;
}
#mainMenu {
	margin: 8px;
	font-family: sans-serif;
}
#mainMenu li {
	display:flex;
    justify-content: flex-end;
	width:120px;
	float:left;
	margin-left:10px;
}
#mainMenu a {
	display:block;
	padding:3px;
	text-decoration:none;
    cursor: pointer;
    color: #fff;
    font-size: 1rem;
}


/* footer */



footer{
    padding-top: 120px;
    padding-bottom: 80px;
    background-color:#161f1e;
    display: grid;
    grid-template-columns: 1fr 1.2fr;

}

.fimg{
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(336deg) brightness(101%);
    margin-left: 15%;
}

.footer-list{
    margin-top: -20px;
    display: grid;
    grid-template-columns: 1.2fr 1fr 1.4fr;
}

.list-1{
    margin-left: 0px;
}

.list-2{
    margin-left: 20px;
}

.list-3{
    margin-left: 0px;
}

.element{
    margin-bottom: 20px;
    font-size: 17px;
    color: white;
    cursor: pointer;
}

.mail:link{
    color: #fff;
}

.copyright{
    color: #FFFFFFBF;
    margin-left: 15%;
    font-size: 15px;
}