html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0px auto;
    padding: 0;
    height: 100%;
    width: 100%;
}
  /* header */

header {
    background-color: rgb(24, 23, 23);
    padding-bottom: 100px;
}


.item-container{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}



.logo-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    width:30%;
}

.logo{
    
    padding-left: 15%;
    height: 40px;
    width: 10rem;
    filter: invert(100%) sepia(0%) saturate(0%) brightness(200%) contrast(100%);

}

.header-content {
    min-height: 90px;
    display: flex;
    width: 100%;
    align-items: center;
}

.nav-content {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

a{
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    font-size:18px;
}

.container{
    display:block;
}

.bar1 {
    width: 21px;
    height: 2px;
    background-color: #fff;
}
.bar2 {
    width: 21px;
    height: 2px;
    background-color: #fff;
    margin: 4px 0;
}
.bar3 {
    width: 16px;
    height: 2px;
    background-color: #fff;
    margin: 4px 0;
    transform: rotate(180deg);
}


/* footer */



footer{
    width: 100%;
    padding-top: 120px;
    padding-bottom: 100px;
    background-color: #161f1e;

}


.fimg{
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(336deg) brightness(101%);
    margin-right: 10%;
    margin-left: 15rem;
    height: 50px;
}

.footer-list{
    display: flex;
    justify-content: center;
}

.footer-main{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  
}
.list-1{
    /* margin-left: 10%; */
    width: 100%;
    margin-left: 20rem;

}


.list-3{
    padding-left: 30%;
}
a{
    font-size: 17px;
    color: white;
    cursor: pointer;

}
.element{
    margin-bottom:20px;

}

.mail:link{
    color: #fff;
}

.copyright{
    color: #FFFFFFBF;
    margin-top: 100px;;
    margin-left: 15%;
    font-size: 15px;
}


/* DropDown */

.navbar{
    position: fixed;
    z-index: 5;
    height:100%;
    width: 100%;
    background-color: rgb(24, 23, 23);
  
}


.nav{
    display:flex;
    height: 70%;
    flex-flow:column;
    justify-content: center;
    align-items: center;

}

.logo-nav{
    align-items: center;
    width:100%;
}

.nlogo{
    
   padding: 55px;
    height: 40px;
    width: 15rem;
    filter: invert(100%) sepia(0%) saturate(0%) brightness(200%) contrast(100%);

}
.cross{
    cursor: pointer;
    height: 15px;
    width:2rem;
    padding: 50px;
    padding-left: 60rem;
    filter: invert(100%) sepia(0%) saturate(0%) brightness(200%) contrast(100%);
}

.nav1-content{
    display:none;
    margin-left: -20%;
    padding-bottom: 30px;
}

.nav2-content #a{
    padding-top: 80px ;
    margin-left: 40%;


}



 .nav2-items{
    padding-bottom: 10px;

}

@media screen and (max-width:600px) {
    .div-items {
        display: none;
    }    
    .navbar{
        display : block;
    }
    .nav1-content{
        display: block;
    }
    

}

/* Media Queries */

@media screen and (min-width: 360px) and (max-width: 640px) {
  
    .nav1-content{
     
         margin-left: -10%; 
         padding-top: 60px;
        padding-bottom: 30px;
    }
    
    .nlogo{
    
        padding: 15px;
         height: 40px;
         width: 10rem;
         filter: invert(100%) sepia(0%) saturate(0%) brightness(200%) contrast(100%);
     
     }
    .element{
        margin-bottom:5px;
    
    }

    .nav2-content{
        margin-left: -30%;
    }
    
  
    .fimg {
        height : 30px;
        width: 30px;
        margin-left: 2rem;
    
    }
    .cross{
        margin-left: 60px;
        padding: 30px;
    }
    footer{
        width: 100%;
        padding-top: 50px;
        padding-bottom: 40px;
    
    }
    
    .copyright{
        margin-top: 20px;
    }
    .footer-list{
        flex-flow:column;
        align-items: unset;
    }

    .list-1{
        margin-left: 2rem;
        margin-top: 30px;
    }

    .list-3{
        margin-left: -20px;
    }
    .footer-main{
        margin-top: 40px;
        margin-left: 2rem;

    }
    a{
        font-size: 15px;
    }
    .copyright{
        font-size: 10px;
    }
    .item1,.item2{
        font-size: 0.8rem;
    }
    
    .container{
        margin-left: 50%;
    }

}
@media screen and (min-width: 240px) and (max-width: 320px) {
    
    .element{
        margin-bottom:5px;
    
    }
    .nlogo{
        width: 20px;
    }
    .nav1-content{
        margin-left: -30%;
    }

    .nav1-content{
        margin-left: -60%;
        padding-bottom: 30px;
    }

    a{
        font-size: 12px;
    }
    .cross{
        margin-left: 10px;
        padding: 30px;
    }
    
    .nav2-content{
        margin-left: -70%;
        padding-bottom:20rem;
    }
    
     .nav2-items{
        padding-bottom: 10px;
    
    }
  
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
   
    .list-1{
        margin-left: -1rem;
        margin-top: 10px;
    }
    
    .fimg {
        height : 50px;
        width: 50px;
        margin-left: 8rem;
    
    }

    .list-3{
        margin-left: -30px;
    }

    a{
        font-size: 18px;
    }
    .nlogo{
        width:20rem;
    }
   
    
    .nav1-content{
        margin-left: -35%;
        padding-bottom: 30px;
    }

    .nlogo{
    
        padding: 55px;
         height: 60px;
         width: 15rem;
         filter: invert(100%) sepia(0%) saturate(0%) brightness(200%) contrast(100%);
    
    }
    

 .cross{
    cursor: pointer;
    height: 30px;
    width: 3rem;
    padding: 65px;
    padding-left: 15rem;
    filter: invert(100%) sepia(0%) saturate(0%) brightness(200%) contrast(100%)
 
 }
   
}
