/* Section-1 */


.section1_dlc {
    font-family: 'Spectral', serif;
    font-size: 1.9rem;
    left: 15%;
    opacity: 1;
    width: 80%;
    height: 50vh;
    color: #111;
    letter-spacing: 1.5px;
}

.section1_dlc > p{

    width: 75%;
    margin-left: 20rem;
    margin-top:10rem;

}

.h1_dlc{
    font-family: 'Spectral', serif;
    font-size: 2rem;
    font-weight: lighter;
    margin-top:-2rem;
}



/* Section-5 */

.exp-article1{
    padding-top:5%;
    direction:rtl;
    width: 100%;
    height: 125vh;
    background-color: #f3f3f3;
    position: relative;
   
}
.articles1{
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
    position: absolute;
    margin-top: 23%;

}

.article-back1{
    height: 73%;
    width: 47%;
    background-color: lightgray;
}

.article-content1{
  
    width: 90%;
    display: flex;
    justify-content: end;
   
}

.article-text1{
    direction: ltr;
    position: absolute;
    height: 55vh;
    width: 25vw;
    background-color: #fff;
    z-index: 5;
    margin-top: 7%;
    padding: 2%;
}

.article-text1 > h1{
 
    font-weight: 100;
}

.article-text1 > p{
    color: #777777;
    line-height: 150%;
    font-size: 15px;
    word-spacing: 1px;
}

.article-text1 > h3{
    border: lightgray 1px solid;
    text-align: center;
    width: fit-content;
    color: #777777;
    font-weight: 100;
    margin-top: 30px;
    padding: 20px 50px;
}


/* GOLF & WELLNESS  SECTION 3-4 */

.golf-image > img ,.Wellness-image > img,.outdoor-image >img{

    width: 70%;
    height: 80%;
    position: relative;
    z-index: 2;
}

.exp-article{
    padding-top:5%;
    width: 100%;
    height: 125vh;
    background-color: #f3f3f3;
    position: relative;
   
}
.articles{
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
    position: absolute;
    margin-top: 23%;

}

.article-back{
    height: 73%;
    width: 47%;
    background-color: lightgray;
}

.article-content{
    width: 90%;
    display: flex;
    justify-content: end;
   
}

.article-text{
    position: absolute;
    height: 55vh;
    width: 25vw;
    background-color: #fff;
    z-index: 5;
    margin-top: 7%;
    padding: 2%;
}

.article-text > h1{
 
    font-weight: 100;
}

.article-text > p{
    color: #777777;
    line-height: 150%;
    font-size: 15px;
    word-spacing: 1px;
}

.article-text > h3{
    border: lightgray 1px solid;
    text-align: center;
    width: fit-content;
    color: #777777;
    font-weight: 100;
    margin-top: 30px;
    padding: 20px 50px;
}



/* Media Queries */


@media screen and (min-width: 768px) and (max-width: 1024px) {
    .section1_dlc {
        font-size: 1.5rem;
        margin-left: -11rem;
        top: -40%;
        width: 90%;
        height: 30%;
    }

    .right_sec1{
        margin-left: -24rem;
        margin-top: -10rem;
    }

    .right_sec1 >img{
        height: 60vh;
    width: 60vw;
    }
    
    

.section2_dlc{
    position: relative;
  
    grid-template-rows: 1fr;
}

 
.h_dlc {
       
    margin-top: 150%;   
    margin-left: 30%; 
    color:#111;
}
.h1_dlc{
    margin-left: 30%;
}
.p_dlc >p {
   
    font-size:5 rem;
    margin-left: 30%; 
    color: black;
    top: 2%;
    width: 60vw;
    line-height: 1.4rem;
}

.exp-article{
    height:80vh;
    padding-bottom: 20rem;
}
.articles{
    margin-top: 10%;
}

.golf-image >img ,.Wellness-image > img ,.outdoor-image{
    margin-left: 7rem;
}
.article-text{
    width: 60%;
    margin-top: 45%;
    height: 40vh;

}
.article-back{
    height: 55%;
    width: 70%;
}



.articles1{

    margin-top: 10%;
}


.article-text1{
    margin-right: 4rem;
    width: 60%;
    margin-top: 45%;
    height: 40vh;

}
.article-back1{
    height: 55%;
    width: 70%;
}


.exp-article1{
    padding-bottom: 35rem;
    direction: ltr;
    height:80vh;
    
}
 

    

}


@media screen and (min-width: 360px) and (max-width: 640px) {


    .header-text,.header1-text{
        font-size: 3.5rem;
    }

    .section1_dlc {
        font-size: 1.1rem;
        margin-left: -17rem;
        width: 100%;
        height: 40%;
    }

    .right_sec1{
        margin-left: -16.5rem;
        margin-top: -11rem;
    }

    .right_sec1 >img{
        height: 60vh;
    width: 70vw;
    }
    
    

.section2_dlc{
    position: relative;
  
    grid-template-rows: 1fr;
}

 
.h_dlc {
    font-size: 1.5rem;
    margin-top: 160%;   
    margin-left: 18%; 
    color:#111;
}
.h1_dlc{
    font-size: 1.5rem;
    margin-left: 18%;
}
.p_dlc >p {
   
    font-size:5 rem;
    margin-left: 1%; 
    color: black;
    top: 2%;
    width: 80vw;
    line-height: 1.4rem;
}

.exp-article{
    height:50vh;
}
.articles{
    margin-top: 10%;
}

.golf-image >img ,.Wellness-image > img ,.outdoor-image > img{
    margin-left: 1.5rem;
}

.golf-image,.Wellness-image,.outdoor-image{
    width: 90%;
}
.article-text{
    width: 73vw;
    margin-top: 45%;
    height: 50vh;

}
.article-text > p,.article-text1 > p{
    font-size: 12px;
}
.article-back{
    height: 45%;
    width: 86vw;
}



.articles1{
    margin-top: 10%;
}


.article-text1{
    width: 75vw;
    margin-top: 45%;
    height: 50vh;
}
.article-back1{
    height: 45%;
    width: 86vw;
}


.exp-article1{
    margin-top:20rem;
    padding-bottom: 30rem;
    direction: ltr;
    height:40vh;
    
}

.section10_dlc {
    height: 35vh;
 
}
.dlc_img9{
    width: 50vh;
}

.h3_dlc {
    position: relative;
    margin-top:20rem;
    margin-left: -38rem;
    font-size: 2rem;
}
.btn {
    margin-left: -38rem;
}

.footer_img{
    margin-top: 19rem;
    height: 50vh;
    width:60%;

}
 


}



@media screen and (max-width:900px) {
    
    .golf-image,.Wellness-image{
        justify-content: center;
    }

    .golf-image >img,.Wellness-image > img  {
        width: 70%;
        height: 30%;
    }
    .outdoor-image > img{
        width:82%;

    }

    .article-content{
        margin-left: 5%;
        justify-content: center;
    }
   
    
   
}


@media screen and (max-width:700px) {
   

    .article-text{
        width: 73%;
        padding: 3% 3%;
    }

  

    .golf-image >img,.Wellness-image > img,.outdoor-image > img{
        width: 95%;
        height: 30%;
    }

  
}
