html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-x:  hidden;
}

.header-video{
    position: relative;
    margin: 0%;
    padding: 0%;
  
}
header{
    position: absolute;
    width: 100%;
    background-color: initial;
    z-index: 3;
}

.hvideo{
    height:50%;
    width : 100%;


}
.header-text{
    position: absolute;
    z-index: 4;
    margin-left: 25%;
    margin-top: 32vh;
    font-size: 6rem;
    color: #fff;
    font-family: 'Benne', serif;
}

.header1-text{
    position: absolute;
    z-index: 4;
    margin-left: 25%;
    margin-top: 42vh;
    font-size: 6rem;
    color: #fff;
    font-family: 'Benne', serif;
}


.content-1{
    display: flex;
    height: 1000px;
    background-image : url("https://dxaurk9yhilm4.cloudfront.net/images/287/background_imagev2_3580431e48aedf97dcedf972d1481942.jpg");
    width: 100%;
    background-position: 67%;
    padding-top: 80px;
    padding-bottom: 150px;
}

.left-content{
    display:flex;
    flex-direction: column;
    width: 40%;
}
.right-content{
    display:flex;
    flex-direction: column;
    width:60%;
}

.img-right{
    padding-top: 8rem;
    padding-left: 12rem;
    width:60%;
    height: 70%;
}

.text-1{
    padding-top: 120px;
    color: black;
    font-size: 40px;

    margin-left: 20%;
}


.text-content{
    padding-top: 1.5rem;
    margin-left: 10%;
    margin-right: 12%;
    font-family:sans-serif;
    color:grey;
    font-size: 15px;
}
.img-left{
    height:60%;
    width:90%;
    margin-left: 15%;
    padding-top: 12rem;
}


.row{
    display: flex;
    justify-content: space-evenly;
}

.htext{
    font-size: 50px;
    font-family: 'Benne', serif ;
}

.left-arrow,.right-arrow{
    margin-left: 20px;
    height:60%;
    width: 10%;
    cursor: pointer;
}
.arrows{
    display: flex;
    margin-top: 4rem;
    justify-content: flex-end;
   
}

/* globe part */

.world-map{
   
    height: 1210px;
    margin-left: -20rem;
    background-position: 100%;
    width: 94%;
    background-image:url("https://discoverylandco.com/static/globe-usa.jpg");

}



.globe{

    background-color: whitesmoke;
}
.gtext1,.gtext2{
    margin-left: 14rem;
    font-size: 45px;
}
.gtext1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.gtext2{
    font-family:'Courier New', Courier, monospace;
}

.description{
    padding-top: 10px;
    font-size: 15px;
    margin-left: 10.5rem;
    color: grey;
}

.places{
    display: flex;
    padding-top: 20px;
    margin-left: 10.5rem;
    font-size: 15px;

}

p{
    margin-left: 60px;
}

.place-box{
    background-color: rgb(23, 23,23);
}


/* slider */
.slider{
    height: 600px;
    margin: auto;
    margin-left: 0%;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
}

.slide-track{
    display: flex;
    width: fit-content;
    animation: scroll 100s linear infinite;
}

.slide{
    display: flex;
    align-items: center;
    padding-right: 15px;
    position: relative;
}

.slider-text-home{
    position: absolute;
    color: #fff;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 30px;
    margin-top: 270px;
}
.sub-home{
    margin-top: -15px;
    margin-left:5px;
    color: #FFFFFFBF;
}

.slide img{
    height: 500px;
    width: 450px;
    filter: brightness(70%);
}


@keyframes scroll {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250px * 25));
    }
}

