

/* content -1 */

.content-1{
    display: flex;
    height: 1000px;
    background-image : url("https://dxaurk9yhilm4.cloudfront.net/images/287/background_imagev2_3580431e48aedf97dcedf972d1481942.jpg");
    width: 100%;
    background-position: 67%;
    padding-top: 80px;
    padding-bottom: 150px;
}

.left-content{
    display:flex;
    flex-direction: column;
    width: 40%;
}
.right-content{
    display:flex;
    flex-direction: column;
    width:60%;
}

.img-right{
    padding-top: 8rem;
    padding-left: 12rem;
    width:60%;
    height: 70%;
}

.text-1{
    padding-top: 120px;
    color: black;
    font-size: 40px;

    margin-left: 20%;
}


.text-content{
    padding-top: 1.5rem;
    margin-left: 10%;
    margin-right: 12%;
    font-family:sans-serif;
    color:grey;
    font-size: 15px;
}
.img-left{
    height:60%;
    width:90%;
    margin-left: 15%;
    padding-top: 12rem;
}
.img-screen{
    padding-top: 2rem;
    padding-left: 7rem;
    width:60%;
    height: 70%;
    display:none;
   

}



/* content-2 */

.row{
    display: flex;
    justify-content: space-evenly;
}

.htext{
    font-size: 50px;
    font-family: 'Benne', serif ;
}

.left-arrow,.right-arrow{
    margin-left: 20px;
    height:70%;
    width: 8%;
    cursor: pointer;
}
.arrows{
    display: flex;
    margin-top: 4rem;
    justify-content: flex-end;
   
}


/* slider */
.slider{
    height: 600px;
    margin: auto;
    margin-left: 0%;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
}

.slide-track{
    display: flex;
    width: fit-content;
    animation: slide 100s infinite;
}

.slide{
    display: flex;
    align-items: center;
    padding-right: 15px;
    position: relative;
}

.slider-text-home{
    position: absolute;
    color: #fff;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 30px;
    margin-top: 270px;
}
.sub-home{
    margin-top: -15px;
    margin-left:5px;
    color: #FFFFFFBF;
}

.slide img{
    height: 500px;
    width: 450px;
    filter: brightness(70%);
}


@keyframes slide {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250px * 25));
    }
}


/* globe part */

.world-map{
   
    height: 1210px;
    margin-left: -20rem;
    background-position: 100%;
    width: 94%;
    background-image:url("https://discoverylandco.com/static/globe-usa.jpg");

}



.world{

    background-color: whitesmoke;
}
.gtext1,.gtext2{
    margin-left: 14rem;
    font-size: 45px;
}
.gtext1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.gtext2{
    font-family:'Courier New', Courier, monospace;
}

.description{
    padding-top: 10px;
    font-size: 15px;
    margin-left: 10.5rem;
    color: grey;
}

.places{
    display: flex;
    padding-top: 20px;
    margin-left: 10.5rem;
    font-size: 15px;

}

p{
    margin-left: 60px;
}

/* Black-Box */
.black-box{
    background-color: #f3f3f3;
    position:relative;
    padding-bottom: 0%;
    margin-bottom: 0%;
    height: 100%;
}

.globe{
    height: 100%;
    width: 100%;
    bottom: 0;
}

.globe > img{
    height: 100%;
    width: 70%;
}

.bb-details{
    height: 92vh;
    width: 50vw;
    position: absolute;
    background-color:#161F1E;
    color: white;
    z-index: 4;
    margin-top: 58px;
    margin-left: 48.5%;
}

.bb-image{
    position: absolute;
    z-index: 10;
    width: 20vw;
    height: 87vh;
    margin-left: 76%;
}


/* black-box */
.arr{
    cursor: pointer;
    filter:invert();
    height:110px;
    width:110px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-evenly;
}

.r-arrow,.l-arrow{
    padding-left: 30px;
    height:40px;
    width:40px;
}

.weather{
    display:flex;
    align-items: center;
    flex-direction: row;
    height: 20vh;
    width: 40vw;
}
.img-sun{
    filter:invert();
    width: 2vw;

}
.img-wind{
    filter:invert();
    width: 2.3vw;

}
.img-direction{
    filter:invert();
    width: 2vw;
}



.wind,.direction{
    margin-left: 4rem;

}
.direction{
    margin-left: 4rem;

}

.temp-value{
    color:white;
}
.temp{
    margin-left: 2rem;
   
}

.Heading{
    display:flex;
    flex-direction: column;
    height: 30vh;
    width: 40vw;
}

.stext-value{
    font-size: 1.2rem;
    color: grey;
    padding: 60px;
}
.btext-value{
    color:white;
    font-size: 3rem;
    padding-left: 60px;
    font-family:  'Benne', serif ;
}
.location{
    display: flex;
}
.location-icon{
    filter:invert();
    width: 1.5vw;
    padding-top: 60px;
    padding-left: 60px;
    
}
.location-text{
    color: white;
    padding-top: 65px;
    padding-left: 20px;
}

/* Media-screens-blackbox */

.bb-image1{
    margin-left: 60%;
    position: absolute;
    z-index: 10;
    width: 30vw;
    height: 83vh;

   
}
.black-box1{
    display:none;
    position:relative;
    padding-bottom: 0%;
    margin-bottom: 0%;
    height: 100%;
}



.bb-details1{

    background-color:#161F1E;
    height: 100%;
    width: 100%;
    position: absolute;
    color: white;
   
  
}

.content-box1{
    margin-left: 10%;
}
.arr1{
    cursor: pointer;
    filter:invert();
    height:110px;
    width:110px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-evenly;
}

.r-arrow1,.l-arrow1{
    padding-left: 30px;
    height:40px;
    width:40px;
}

.weather1{
    display:flex;
    align-items: center;
    flex-direction: row;
    height: 20vh;
    width: 40vw;
}
.img-sun1{
    filter:invert();
    width: 2vw;

}
.img-wind1{
    filter:invert();
    width: 2.3vw;

}
.img-direction1{
    filter:invert();
    width: 2vw;
}



.wind1,.direction1{
    margin-left: 4rem;

}
.direction1{
    margin-left: 4rem;

}

.temp-value1,.direction-value1,.wind-value1{
    color:white;
}
.temp1{
    margin-left: 2rem;
   
}

.Heading1{
    display:flex;
    flex-direction: column;
    height: 30vh;
    width: 40vw;
}

.stext-value1{
    font-size: 1.2rem;
    color: grey;
    padding: 58px;
}
.btext-value1{
    color:white;
    font-size: 3rem;
    padding-left: 55px;
    font-family:  'Benne', serif ;
}
.location1{
    display: flex;
}
.location-icon1{
    filter:invert();
    width: 1.5vw;
    padding-top: 60px;
    padding-left: 55px;
    
}
.location-text1{
    color: white;
    padding-top: 65px;
    padding-left: 18px;
}



/* Content-5 */
.content-5{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
    width: 100%;
}

.img-5{
    height: 100%;
    position: relative;
}

.img{
    height: 100vh;
    width: 100%;
    position: absolute;
}
.img3{
    height: 100vh;
    width: 100%;
    position: absolute;
}

.experiences{
    position: absolute;
    margin-top: 55%;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 100;
    font-size: 40px;
    z-index: 2;
}
.lifestyle,.wellness{
    position: absolute;
    margin-top: 55%;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 100;
    font-size: 40px;
    z-index: 2;
}

.experiences{
    margin-left: 25%;
}

.lifestyle{
    margin-left: 30%;
}

.wellness{
    margin-left: 30%;
}

.arrow{
    cursor: pointer;
    height:50px;
    width:50px;
    position: absolute;
    margin-left: 40%;
    margin-top: 70%;
    z-index: 2;
    filter:invert();
   

}
.arrow-1{
    cursor: pointer;
    height:50px;
    width:50px;
    position: absolute;
    margin-left: 40%;
    margin-top: 70%;
    z-index: 2;
    filter:invert();

}



/* content-5 */
.video-home{
    width:100%;
}


.video1-text{
    position: absolute;
    z-index: 4;
    color: #fff;
    margin-top: 10%;
    margin-left: 13%;
}

.title{
    font-size: 40px;
    font-weight: 200;
    letter-spacing: 2px;
    margin-bottom: 60px;
}

.inner{
    font-size: 15px;
    letter-spacing: .5px;
    word-spacing: 2px;
    margin-bottom: 10px;
}

.explore-button{
    display: flex;
    justify-content: center;
    width: 50%;
    margin-top: 80px;
    font-size: 20px;
    border-style: solid;
    padding: 20px 10px;
    border-width: 1px;
    cursor: pointer;
}

.cross{
    position: absolute;
    z-index: 4;
    height: 60px;
    width: 70px;
    margin-top: 40px;
    margin-left: 40%;
    cursor: pointer;
}





/* Media-Queries */


@media screen and (min-width: 360px) and (max-width: 640px) {

    .hvideo{
        height: 100vh;
        width: 1250px;
    }

    .header-text,.header1-text{
        font-size: 1.5rem;
    }

    .header1-text{
        margin-top: 36vh;
    }
    .text-1{
        font-size: 20px;
    }
    .right-content{
        width:0%;
    }

    .text-content{
        padding-top: 1.5rem;
        margin-left: 0%;
        font-size: 10px;
    }
    .content-1{
        background-image: none;
    }
    .left-content{
        width: 100%;
    }

    .img-left{
        height: 40%;
        width: 80%;
        margin-left: 10%;
        padding-top: 25rem;
    }
    .row{
        display :block;
    }
    .htext{
        font-size: 30px;
        margin-left: 20px;
    }
    .arrows{
        display: block;
    }
    .left-arrow,.right-arrow{
        width: 10%;
    }
    .slide img{
        height: 400PX;
        width: 350px;
    }

    .slider{
        height: 500px;
    }
    .gtext1,.gtext2{
        font-size: 30px;
    margin-left: 2rem;
    }

    .description{
    font-size: 14px;
    margin-left: -1rem;
    }
    .places{
        margin-left: -2rem;
        font-size: 14px;
    }
    
    p{
        margin-left: 45px;
    }

    .globe{
        height:80%;
    }

    .globe > img{
        height: 100%;
    width: 100%;
    }

    .black-box,.bb-image{
    display:none;
    }

    .content-5{
        display:block;
    }

    .img-5{
        height: 30%;
    position: relative;
    }
    .img{
        height: 50vh;
    }
    .img3{
        height: 40vh;
    width: 100%;
    position: relative;
}
    .arrow{
        margin-top: 25%;
    }
    .experiences,.lifestyle{
        margin-top: 10%;
    }
    .wellness{
        margin-top: -12rem;
        position: absolute;
        color: #fff;
        letter-spacing: 2px;
        font-weight: 100;
        font-size: 40px;
        z-index: 2;
    }

    .arrow-1{

        cursor: pointer;
    height: 50px;
    width: 50px;
    position: absolute;
    margin-left: -13rem;
    z-index: 2;
    filter: invert();
    margin-top: 9rem;
    }
    .img-screen{
        display:block;
        width:80%;
        padding-left: 2rem;
        height:90%;
    }
    .img-left{
        padding-top: 3rem;
        height: 90%;
    }

    .black-box1{
        height: 43%;
        display:block;
        
    }
    .bb-image1{
        width: 32vw;
    height: 40vh;
    }
    .bb-details1{
        height:100%;
    }
    .arr1{
        height: 60px;
    }

    .l-arrow1,.r-arrow1{
        height: 20px;
    width: 20px;
    }

    .weather1{
        margin-left: -3vw;
    }
    .img-sun1,.img-direction1{
        width: 5vw;
    }
    .temp-value1,.wind-value1,.direction-value1{
        font-size: 10px;
    }
    .wind1,.direction1{
        margin-left: 5vw;
    }

    .img-wind1{
        width: 6.2vw;
        
    }
    .weather1{
        margin-top: -2.5rem;
    }
    .Heading1{
        height: 15vh;
    }
    .stext-value1{
        font-size: 0.7rem;
        color: grey;
        padding: 1px;
        padding-left: 20px;
    }
    .btext-value1{
        font-size: 1.3rem;
        font-family: 'Benne', serif;
        padding-left: 24px;
    }

    .location-icon1{
        width: 4vw;
    height: 3vh;
    padding-top: 1px;
    padding-left: 2px;
}
    .location-text1{
        color: white;
    font-size: 9px;
    padding-top: 10px;
    padding-left: 5px;
}
    
   

}




@media screen and (min-width: 768px) and (max-width: 1024px) {
    .hvideo{
        height: 100%;
        width: 1150px;
     
    }

    .header-text,.header1-text{
        font-size: 4rem;
    }

    .header1-text{
        margin-top: 39vh;
    }
    .text-1{
        margin-left:50px;
        font-size: 35px;
    }
    .right-content{
        width:0%;
    }

    .text-content{
        padding-top: 1.5rem;
        margin-left: 0%;
        font-size: 20pxpx;
    }
    .content-1{
        background-image: none;
    }
    .left-content{
        width: 100%;
    }

    .img-left{
        height: 40%;
        width: 100%;
        margin-left: 0%;
        padding-top: 1rem;
    }
    .row{
        display :block;
    }
    .htext{
        margin-top:50rem;
        font-size: 50px;
        margin-left: 40px;
    }
    .arrows{
        margin-top:5rem;
        margin-left: 40px;
        display: block;
    }
    .left-arrow,.right-arrow{
        width: 10%;
    }
    .slide img{
        height: 450PX;
        width: 370px;
    }

    .slider{
        height: 650px;
    }
    .gtext1,.gtext2{
        font-size: 40px;
    margin-left: 2rem;
    }

    .description{
    font-size: 16px;
    margin-left: -1rem;
    }
    .places{
        margin-left: -1rem;
        font-size: 16px;
    }
    
    p{
        margin-left: 45px;
    }

    .globe{
        height:80%;
    }

    .globe > img{
        height: 100%;
    width: 100%;
    }

    .black-box,.bb-image{
    display:none;
    }

    .content-5{
        height:50%;
        display:grid;
    }

  
    .img{
        height: 50vh;
    }
    .img3{
        height: 50vh;
    width: 100%;
    position: relative;
}
    .arrow{
        margin-top: 75%;
    }
    .experiences,.lifestyle{
        margin-top: 40%;
        margin-left:45px;
        font-size:35px;
    }
    .wellness{
        margin-left:35px;
        margin-top: -23rem;
        color: #fff;
        letter-spacing: 2px;
        font-weight: 100;
        font-size: 40px;
      
    }

    .arrow-1{

        cursor: pointer;
    height: 50px;
    width: 50px;
    margin-left: -10rem;
    filter: invert();
    margin-top: 12rem;
    }

    .img-screen{
        display:block;
        width:80%;
        padding-left: 2rem;
        height:90%;
    }
    .img-left{
        padding-top: 3rem;
        height: 90%;
    }

    .black-box1{
        height: 50%;
        display:block;
        
    }
    .bb-image1{
        width: 36vw;
    height: 43vh;
    }
    .bb-details1{
        height:100%;
    }
    .arr1{
        height: 70px;
    }

    .l-arrow1,.r-arrow1{
        height: 20px;
    width: 30px;
    }

    .weather1{
        margin-left: -5vw;
    }
    .img-sun1,.img-direction1{
        width: 6vw;
    }
    .temp-value1,.wind-value1,.direction-value1{
        font-size: 15px;
    }
    .wind1,.direction1{
        margin-left: 6vw;
    }

    .img-wind1{
        width: 6.4vw;
        
    }
    .weather1{
        margin-top: -1rem;
    }
    .Heading1{
        height: 15vh;
    }
    .stext-value1{
        font-size: 1.5rem;
        color: grey;
        padding: 1px;
        padding-left: 1px;
    }
    .btext-value1{
        font-size: 2.5rem;
        font-family: 'Benne', serif;
        padding-left: 5px;
    }

    .location-icon1{
        width: 5vw;
    height: 4vh;
    padding-top: 0px;
    padding-left: 2px;
}
    .location-text1{
        color: white;
    font-size: 14px;
    padding-top: 15px;
    padding-left: 5px;
}
        
}